/* font-family: 'Acme', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif; */
header#headerHome {
	font-family: 'Acme', sans-serif;
	letter-spacing: 0.2px;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	padding: 0;
}
nav.navbar {
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	padding: 10px 50px;
	border-radius: 0;
}
.collapse.navbar-collapse ul > li {
	margin-left: 10px;
}
a.navbar-brand {
	vertical-align: middle;
	font-size: 25px;
	letter-spacing: 0.3px;
}
img.img_flagV {
	height: 35px;
	width: 35px;
	object-fit: cover;
	object-position: center;
	vertical-align: sub;
}
h3.modal-title {
	font-family: 'Anton', sans-serif;
	letter-spacing: .4px;
	text-align: center;
}

label.titleInput {
	font-family: 'Anton', sans-serif;
	color: #000;
}
.modal-body input[type=checkbox] {

}
a.getPasswordAgain {
	font-family: 'Acme', sans-serif;
	text-decoration: none;
}
.modal-body input[type=text],
.modal-body input[type=password],
.modal-body input[type=file] {
	border: 0.5px solid #DC3545;
	border-radius: 0;
	font-family: 'Acme', sans-serif;
}
.modal-body input[type=text]:hover,
.modal-body input[type=file]:hover,
.modal-body input[type=file]:active,
.modal-body input[type=file]:focus,
.modal-body input[type=password]:hover,
.modal-body input[type=text]:active,
.modal-body input[type=password]:active,
.modal-body input[type=password]:focus,
.modal-body input[type=text]:focus {
	box-shadow: 1px 2px 15px #ea76814a;

}
.modal-header {
	border-bottom: 0.5px solid #ea76814a;
}
.modal-footer {
	border-top: 0.5px solid #ea76814a;
}
.modal-content {
	border-radius: 0;
}
.modal-body .btn.btn-outline-danger {
	border-radius: 0;
	color: #000;
	font-family: 'Anton', sans-serif;
	font-size: 25px;
	letter-spacing: 0.2px;
}
.modal-body button.btn.btn-outline-danger:hover {
	color: #fff;
}
